* {
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.container {
    background-image: url("images/wallpaper1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* Header Design Layout */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 80%;
    margin: auto auto 2.5% auto;
    border: 2px solid black;
}

.headerText {
    font-size: 8vmin;
    color: seashell;
    text-shadow: 5px 5px black;
    font-family: 'Orbitron', sans-serif;
}

/* Main Game Area */

.gameArea {
    display: flex;
    margin: auto;
    height: 70%;
    width: 100%;
}
.leftArea {
    margin: 0 auto;
    width: 15%;
    height: 50%;
    border: 2px solid black;
}
.playerOneText {
    margin-top: 2%;
    font-family: 'Orbitron', sans-serif;
    font-size: 5vmin;
    color: seashell;
    text-shadow: 5px 5px black;
    text-align: center;
}
.playerOneImg {
    height: 40%;
    width: 40%;
}
img.playerOneImg {
    margin: auto;
}
.rightArea {
    margin: 0 auto;
    width: 15%;
    height: 50%;
    border: 2px solid black;
}
.playerTwoText {
    margin-top: 2%;
    font-family: 'Orbitron', sans-serif;
    font-size: 5vmin;
    color: seashell;
    text-shadow: 5px 5px black;
    text-align: center;
}
/* Connect 4 Game Board and Cols */

.gameBoard {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    border: 2px solid black;
}

.col {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 14.285%;
    border: 1px solid;
    opacity: 1;


}

.tokenSpot {
    height: 16.67%;
    width: 100%;
    border: 2px solid;
    margin: auto;
    z-index: 3;
}

.token {
    position: absolute;

    height: 16%;
    width: 93%;
    /*border-radius: 50%;*/
    right: 4%;
    bottom: 130%;
    z-index: 0;

}
img {
    width: 100%;
    height: 100%;
}
/* Footer Design Layout */

.footer {
    height: 20%;
    width: 80%;
    margin: auto;
    border: 2px solid black;
}

/*Draw Screen*/
.drawScreen{
    background-image: url("images/drawscreenbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: none;
}
.drawScreenArea {
    display: flex;
    margin: auto;
    height: 60%;
    width: 100%;
    flex-direction: column;
}
.drawScreenText{
    color: gold;
    font-weight: 600;
    font-size: 6em;
}
.drawScreenBody{
    height: 40%;
    width: 100%;
    text-align:center;
    display: flex;
}

.drawScreenBoard{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 60%;
    justify-content: center;
}

.drawScreenButtonContainer{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.playAgain{
    height: 75%;
    width: 10%;
    border-radius: 50%;
    background-image: url("images/trx.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.5em;
    font-weight: bold;
}